<div class="login">
    <div class="card">
      <br>
      <br>
      <h1>Contáctanos</h1>
      <h6>Tu patrimonio esta con nosotros</h6>
      <br>
      <br>
      <label for="nombre">Nombre completo:</label>
      <input pInputText id="nombre" required/>
      <br>
      <label for="domicilio">Domicilio:</label>
      <input pInputText id="domicilio" required/>
      <br>
      <label for="telCasa">Teléfono de casa:</label>
      <input pInputText id="telCasa" required/>
      <br>
      <label for="telOficina">Teléfono de oficina:</label>
      <input pInputText id="telOficina" required/>
      <br>
      <label for="telCel">Teléfono celular:</label>
      <input pInputText id="telCel" required/>
      <br>
      <label for="correo">Correo electrónico:</label>
      <input pInputText id="correo" required/>  
      <br>
      <br>
      <p-button label="Enviar" icon="pi pi-user-plus"></p-button>
      <br>
    </div>
  </div>
