<div class="t1">
<section class="page-section " id="portfolio">
	<div class="container" id="casas">
		<div class="text-center">
			<br>
			<h2 class="section-heading text-uppercase">Casas</h2>
			<h3 class="section-subheading text-muted">Lo mejor para ti y tu familia.</h3>
		</div>
		</div>
</section>

<table class="tabla1">
	<tr>
		<td>
			<div>
				<p-card header="Estilo clásico" [style]="{ width: '360px' }" styleClass="shadow-2" >
				  <ng-template pTemplate="header">
					<img alt="Card" src="./assets/imgs/casaClasica.jpg" />
				  </ng-template>
				  <p>
					Este inmueble se encuentra dividido en dos plantas. La planta superior tiene dos habitaciones con closet. La planta baja tiene una cocina, sala, comedor y un espacio para oficina.
				  </p>
				<b>Número:</b> 001<br>
				<b>Medidas de construcción:</b> 10 m X 5 m
				<b>Disponibilidad: </b>Disponible<br>
				<b>Tipo: </b>Normal<br>
				<b>Precio: </b>Desde $810,000.00 MXN
				  <ng-template pTemplate="footer">
					<p-button label="Solicitar Cita" icon="pi pi-calendar-minus" routerLink="/casasestados"></p-button>
					<p-button label="Apartar casa" icon="pi pi-check-circle" routerLink="/login" [style]="{ 'margin-left': '.5em' }"></p-button>
				  </ng-template>
				</p-card>
			</div>
		</td>
		<td>
			<div>
				<p-card header="Estilo moderno" [style]="{ width: '360px' }" styleClass="shadow-2" >
				  <ng-template pTemplate="header">
					<img alt="Card" src="./assets/imgs/casaModerna.jpg" />
				  </ng-template>
				  <p>
					Este inmueble cuenta con tres plantas. En la planta superior se encuentra una suite con terraza. La planta baja tiene dos habitaciones completas, una cocina, sala, comedor y alberca.
				  </p>
				<b>Número:</b> 002<br>
				<b>Medidas de construcción:</b> 50 m X 15 m
				<b>Disponibilidad: </b>Disponible<br>
				<b>Tipo: </b>De lujo<br>
				<b>Precio: </b>Desde $2,810,000.00 MXN
				  <ng-template pTemplate="footer">
					<p-button label="Solicitar Cita" icon="pi pi-calendar-minus" routerLink="/casasestados"></p-button>
					<p-button label="Apartar casa" icon="pi pi-check-circle" routerLink="/login"  [style]="{ 'margin-left': '.5em' }"></p-button>
				  </ng-template>
				</p-card>
			</div>
		</td>
		<td>
			<div>
				<p-card header="Estilo de campo" [style]="{ width: '360px' }" styleClass="shadow-2" >
				  <ng-template pTemplate="header">
					<img alt="Card" src="./assets/imgs/casaCampo.jpg" />
				  </ng-template>
				  <p>
					Ideal para pasar un fin de semana en familia. Esta casa tiene dos habitaciones completas, una cocina, sala, comedor y chimenea. Además de un áreas verdes y un huerto de traspatio.
				  </p>
				<b>Número:</b> 003<br>
				<b>Medidas de construcción:</b> 150 m X 15 m
				<b>Disponibilidad: </b>Disponible<br>
				<b>Tipo: </b>Normal<br>
				<b>Precio: </b>Desde $1,010,000.00 MXN
				  <ng-template pTemplate="footer">
					<p-button label="Solicitar Cita" icon="pi pi-calendar-minus" routerLink="/casasestados"></p-button>
					<p-button label="Apartar casa" icon="pi pi-check-circle" routerLink="/login"  [style]="{ 'margin-left': '.5em' }"></p-button>
				  </ng-template>
				</p-card>
			</div>
		</td>
	</tr>
</table>
<br>

<section class="page-section " id="portfolio">
	<div class="container" id="casas">
		<div class="text-center">
			<br>
			<h2 class="section-heading text-uppercase">Fraccionamientos</h2>
			<h3 class="section-subheading text-muted">Todos los servicios a tu alcance.</h3>
		</div>
		</div>
</section>
<table class="tabla1">
	<tr>
		<td>
			<div>
				<p-card header="Valle Alegre La Vista" [style]="{ width: '360px' }" styleClass="shadow-2" >
				  <ng-template pTemplate="header">
					<img alt="Card" src="./assets/imgs/fraccLaVista.jpg" />
				  </ng-template>
				  <p>
					Un fraccionamiento seguro y tranquilo. Ubicado a tan solo 10 minutos del centro comercial Morales, con fácil acceso con vehículo o caminando.
				  </p>
				<b>Dirección:</b> Calle Hidalgo, Num. 24, Colonia centro, Veracruz, CP. 94300.<br>
				<b>Servicios generales: </b>Escuela primaria, secundaria y bachillerato a 5 minutos.
				<b>Servicio de vigilancia: </b>si<br>
				  <ng-template pTemplate="footer">
					<p-button label="Solicitar Cita" icon="pi pi-calendar-minus" routerLink="/casasestados"></p-button>
				  </ng-template>
				</p-card>
			</div>
		</td>
		<td>
			<div>
				<p-card header="Las Colinas" [style]="{ width: '360px' }" styleClass="shadow-2" >
				  <ng-template pTemplate="header">
					<img alt="Card" src="./assets/imgs/fraccLasColinas.jpg" />
				  </ng-template>
				  <p>
					Cuenta con servicio de vigilancia y cámaras de seguridad las 24hrs. Ubicado a 10 minutos de la zona industrial Cordilleras por lo que hay una amplia oferta de servicios.
				  </p>
				<b>Dirección:</b> Calle Morelos, Num. 544, Colonia Montes, La paz, Baja California CP. 58300.<br>
				<b>Servicios generales:</b> Centro comercial y escuela primaria a 5 minutos.
				<b>Servicio de vigilancia: </b>si<br>
				  <ng-template pTemplate="footer">
					<p-button label="Solicitar Cita" icon="pi pi-calendar-minus" routerLink="/casasestados"></p-button>
				  </ng-template>
				</p-card>
			</div>
		</td>
		<td>
			<div>
				<p-card header="Estilo de campo" [style]="{ width: '360px' }" styleClass="shadow-2" >
				  <ng-template pTemplate="header">
					<img alt="Card" src="./assets/imgs/fraccPrivada.jpg" />
				  </ng-template>
				  <p>
					Ubicado en el centro de Baja California, cuenta con caceta de vigilancia y cámaras de seguridad las 24hrs. Escuela primaria a 3 minutos caminando.
				  </p>
				<b>Dirección:</b> Calle Flores, Num. 694, Colonia Altas de Pino, Baja California CP. 87542.<br>
				<b>Servicios generales:</b> Centro comercial, escuelas de nivel básico a 3 minutos.
				<b>Servicio de vigilancia: </b>si<br>
				  <ng-template pTemplate="footer">
					<p-button label="Solicitar Cita" icon="pi pi-calendar-minus" routerLink="/casasestados"></p-button>
				  </ng-template>
				</p-card>
			</div>
		</td>
	</tr>
</table>

</div>

